{% extends 'base.html.twig' %}

{% block title %}Search for a product{% endblock %}

{% block body %}
  <h1>Search for a product</h1>
  <p>by a barcode</p>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
  <hr/>
  {% if product is defined %}
    {% if product %}
      <h1>Found a product!</h1>
      <p>id: {{ product.id }}</p>
      <p>Name: {{ product.name }}</p>
      <p>Barcode: {{ product.barcode }}</p>
      <h2>Owners</h2>
      {% if product.getProductOwners %}
      <ul>
        {% for productOwner in product.getProductOwners %}
          <li>{{ productOwner.getOwner.getName }}</li>
        {% endfor %}
        </ul>
      {% else %}
        <p>No owners.</p>
      {% endif %}
    {% else %}
    <h1>No products.</h1>
    {% endif %}
    <hr/>
  {% endif %}
  <a href="/">Go back</a>
{% endblock %}